<div class="rightAlign">
    <p>{{ user.name }}<br/>
        {% if user.address %}
            {{ user.address }}<br/>
        {% endif %}
        {% if user.phone %}
            {{ user.phone }}<br/>
        {% endif %}
        {% if user.email %}
            {{ user.email }}
        {% endif %}</p>

    <p>29th October 2019

</div>
<div class="leftAlign">

    <p>Dear Mr./Ms.</p>

    <p>I am writing in reply to the classified ad you posted seeking to fill the position of {{ job.title }}
        at {{ job.company }}.</p>

    <p>Having earned my {{ job.requirements }} from VETA College in Mtwara, I understand the importance for informed
        academic counseling and program planning in a higher education environment.</p>

    <p>I have also experienced first-hand the comforting effect of being able to contact an advisor who genuinely cares
        for the professional growth and success of students.</p>

    <p>I believe that both my educational background in {{ job.type }} and my work-related duties of counseling and
        advising students enrolled in learning programs qualify me for consideration for the position of {{ job.title }}
        . I look forward to discussing how my skills can be of value to {{ job.company }} as it prepares to move into
        the future. Thank you for your time, consideration, and forthcoming response.</p>

    <p>Sincerely,</p>

    <p>{{ user.name }}</p>

</div>
