Your Name
Your Address
Your City, State Zip Code
Your Phone Number
Your Email

25th October 2019

{{job.company}}

Dear Mr./Ms. Last Name:

I am writing in reply to the classified ad you posted seeking to fill the position of {{ job.title }} at {{ job.company }}.

Having earned my {{ job.requirements }} from VETA College in Lindi, I understand the importance for informed academic counseling and program planning in a higher education environment.

I have also experienced first-hand the comforting effect of being able to contact an advisor who genuinely cares for the professional growth and success of students.

During my career as an electrician prior to my graduate studies, I was elected Chairman of the Executive Board where I sat as the union’s representative to the apprenticeship advisory board. In this capacity, I was able to be an effective advisor to apprentices who were experiencing scholastic problems that threatened their future in the industry. I particularly enjoyed working with older apprentices who were seeking a career change and had problems adjusting to the obligations of work, school, and family life.

I believe that both my educational background in Academic Advising and my work-related duties of counseling and advising students enrolled in learning programs qualify me for consideration for the position of Graduate Student Advisor. I look forward to discussing how my skills can be of value to ABC College as it prepares to move into the new millennium. Thank you for your time, consideration, and forthcoming response.

Sincerely,

Your Signature (hard copy letter)

Your Typed Name
