{% macro kaziHeader(title, name, showName = true, showBackLink = true) %}
    {% if name and showName === true %}
{#        <div id="topBanner">Signed in as {{ name }}</div>#}
    {% endif %}
    <h1 class="govuk-heading-xl">
        <img src="/public/images/logo.png" alt="Logo" id="logo"/>
        {% if title !== false %}
            {{ title }}
        {% endif %}
        {% if name and showName === true %}
            <a href="javascript:history.back(-1)" class="back">< Go back</a>
        {% endif %}
{#        Kazi Connect#}
    </h1>

{% endmacro %}
