<div class="buttons" aria-controls="screenDisplay" role="group">
        <button class="calc__button calc__button--numeric"><span class="calc__button--value">0</span></button>
        <button class="calc__button calc__button--numeric"><span class="calc__button--value">1</span></button>
        <button class="calc__button calc__button--numeric"><span class="calc__button--value">2</span></button>
        <button class="calc__button calc__button--numeric"><span class="calc__button--value">3</span></button>
        <button class="calc__button calc__button--numeric"><span class="calc__button--value">4</span></button>
        <button class="calc__button calc__button--numeric"><span class="calc__button--value">5</span></button>
        <button class="calc__button calc__button--numeric"><span class="calc__button--value">6</span></button>
        <button class="calc__button calc__button--numeric"><span class="calc__button--value">7</span></button>
        <button class="calc__button calc__button--numeric"><span class="calc__button--value">8</span></button>
        <button class="calc__button calc__button--numeric"><span class="calc__button--value">9</span></button>
</div>
