// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/examples/blank-unbranded

// Import colour palette and applied colours so that we can use
// $govuk-body-background-colour in our overrides below.
//
// If you need to enable compatibility mode or the legacy palette, do that
// *before* these imports.
@import "node_modules/govuk-frontend/govuk/settings/colours-palette";
@import "node_modules/govuk-frontend/govuk/settings/colours-applied";

// Style links and paragraphs by default
$govuk-global-styles: true;

// Override the govuk-frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with
// the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "node_modules/govuk-frontend/govuk/all";

$kaziBlue: rgba(28, 178, 196, 1);
$kaziGreen: rgba(200, 218, 101, 1);
$kaziBlack: rgba(56, 67, 77, 1);

.govuk-main-wrapper {
  //padding-top: 0 !important;
}

ul {
  @extend .govuk-list;
  @extend .govuk-list--bullet;
}

#topBanner {
  background: #eee;
  margin-bottom: 2em;
}

#logo {
  max-width: 150px;
  display: inline-block;
  vertical-align: middle;
}
input:focus {
  outline: 3px solid $kaziGreen !important;
}

#code {
  height: 5rem;
  font-size: 5em;
}

#login {
  .govuk-button {
    font-size: 2.5em;
    text-transform: uppercase;
    display: block;
  }
}

.back {
  margin-top: 2em;
  display: block;
  font-size: 0.4em;
}

.job-box {
  border-radius: 5px;
  border: 2px solid $govuk-border-colour;
  padding: 1em;
  margin-bottom: 2em;
  background: rgba($govuk-border-colour, 0.1);
  transition: all 0.5s;
  &:hover, &:focus {
    background: rgba($govuk-border-colour, 0.5);
    cursor: pointer;
  }

  .jobLink {
    display: block;
    text-align: center;
    background: $kaziGreen;
    padding: 1em;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid #fff;
    color: $kaziBlack
  }
}

.govuk-button {
  background: $kaziBlue;
  transition: all 0.5s;
  &:hover, &:focus {
    background: darken($kaziBlue, 15%);
  }
}

.govuk-heading-xl {
  color: $kaziBlack;
  text-transform: uppercase;
}

.govuk-panel--confirmation {
  background: $kaziGreen;
  color: $kaziBlack;
}

