{% extends "layout_unbranded.html" %}

{% block pageTitle %}
    Kazi Connect
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include '../includes/kazi-header.html' %}
            Job application





        </div>
        <div class="govuk-grid-column-one-third">
            <a href="../apply/{{ job.id }}" class="govuk-button">I would like to apply for this job</a>
        </div>

        </div>

{% endblock %}
