{% extends "layout_unbranded.html" %}

{% block pageTitle %}
    Kazi Connect
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            {% from '../includes/kazi-header.html' import kaziHeader %}
            {{ kaziHeader('Check your contact details', user.name) }}

        </div>

        <div class="govuk-grid-column-two-thirds" id="coverLetter">

            {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

            {{ govukInsetText({
              text: "If " + job.company + " would like to speak with you, it is very important that your contact details are correct. Please check these now."
            }) }}

            {% from "govuk/components/input/macro.njk" import govukInput %}
            {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

            {{ govukInput({
              label: {
                text: "Email address"
              },
              id: "email",
              name: "email"
            }) }}

            {{ govukInput({
                label: {
                    text: "Mobile phone number"
                },
                id: "phone",
                name: "phone",
                value: user.phone
            }) }}

            {{ govukTextarea({
                label: {
                    text: "Address"
                },
                id: "address",
                name: "address",
                value: user.address
            }) }}



        </div>

        <div class="govuk-grid-column-one-third">
{#            <a href="../apply/{{ job.id }}" class="govuk-button govuk-!-display-block">Continue</a>#}
            <a href="../confirmation?employerName={{ job.company }}" class="govuk-button govuk-!-display-block">Continue</a>
        </div>


        </div>

{% endblock %}
