{% extends "layout_unbranded.html" %}

{% block pageTitle %}
    Kazi Connect
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include '../includes/kazi-header.html' %}

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">We've sent your job application to {{ employerName }}</h1>
                <div class="govuk-panel__body">
                    Good luck!
                </div>
            </div>

            <p>
                We have sent you a confirmation email and SMS.
            </p>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p>We've sent your application to {{ employerName }} and you will hear from them if you are successful in your application.</p>



        </div>
    </div>

{% endblock %}
