{% extends "layout_unbranded.html" %}

{% block pageTitle %}
    Kazi Connect
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            {% from '../includes/kazi-header.html' import kaziHeader %}
            {{ kaziHeader(' All jobs listed', user.name) }}

        </div>

        <div class="govuk-grid-column-two-thirds">

            {% for job in jobs %}
                <div class="job-box">
                    <h2 class="govuk-heading-s">{{ job.role }} at {{ job.company }}</h2>
                    <p>{{ job.description }}</p>
                    <a href="./job/{{ job.id }}">View job</a>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
