{% extends "layout_unbranded.html" %}

{% block pageTitle %}
    Kazi Connect
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            {% from '../includes/kazi-header.html' import kaziHeader %}
{#            {{ kaziHeader('Jobs for ' + user.name, user.name) }}#}
            {{ kaziHeader('Welcome ' + user.name, user.name, false) }}

            <h2 class="govuk-heading-m">Job opportunities for you:</h2>

        </div>

        <div class="govuk-grid-column-full">

            {% for job in jobs %}
                {% if job.type === user.type %}
                <div class="job-box">
                    <h2 class="govuk-heading-s">{{ job.role }} at {{ job.company }}</h2>
                    <p>{{ job.salary }}</p>
                    <p>{{ job.location }}</p>
                    <a href="./job/{{ job.id }}" class="jobLink">View job</a>
                </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}
