
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Kazi Connect - session setup{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Session set up
      </h1>
<form method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Name"
        },
        id: "name",
        name: "name"
      }) }}

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    idPrefix: "type",
    name: "type",
    fieldset: {
      legend: {
        text: "What is being studied?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--xs"
      }
    },
    items: [
      {
        value: "mechanical",
        text: "Motor mechanics"
      },
      {
        value: "electrical",
        text: "Electrical installation"
      },
      {
        value: "mason",
        text: "Masonry and brickwork"
      }
    ]
  }) }}

{#      {% from "govuk/components/select/macro.njk" import govukSelect %}#}

{#      {{ govukSelect({#}
{#        id: "subject",#}
{#        name: "subject",#}
{#        label: {#}
{#          text: "Subject being studied"#}
{#        },#}
{#        items: [#}
{#          {#}
{#            value: "mechanical",#}
{#            text: "Motor mechanics"#}
{#          },#}
{#          {#}
{#            value: "electrical",#}
{#            text: "Electrical installation"#}
{#          },#}
{#          {#}
{#            value: "mason",#}
{#            text: "Masonry and brickwork"#}
{#          }#}
{#        ]#}
{#      }) }}#}

  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukButton({
    text: "Start session"
  }) }}

</form>

    </div>
</div>

{% endblock %}
